node_modules
.env
env.json
cdk.out
build
!src/backend/.aws-sam/build
.gradle
src/backend/target
.aws-sam
cdk.context.json
.DS_Store
**/.DS_Store
*/.DS_Store
**/*/prepple.iml
**/*/root.pem
**/*/root.crt
**/*/.idea