node_modules
.env
env.json
cdk.out
build
!src/backend/.aws-sam/build
.gradle
src/backend/target
.aws-sam
.DS_Store
**/.DS_Store
*/.DS_Store
**/*/prepple.iml
**/src/main/resources/certificates/root.pem
**/src/main/resources/certificates/ghactions-root.key
**/src/main/resources/certificates/root.crt
**/*/root.key
**/src/main/resources/certificates/root.csr
**/*/.idea
**/*/openssl-san.cnf
**/*/root.srl