.navLink {
  padding: 0px 8px 0px 8px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  height: 100%;
}

.navItem {
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 8px;
  margin-right: 8px;
  opacity: 0.8;
  height: calc(100% + 2px);
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
}

.navItemActive,
.navItem:hover {
  opacity: 1;
  border-bottom: 2px solid;
}

.navItemContainer {
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.optionIcon {
  overflow: hidden;
  display: flex;
  max-height: 21px; 
  align-items: center;
  justify-content: center; 
}

.optionLabel {
  padding-top: 2px;
}

.signInOption {
  display: flex;
  align-items: center;
  opacity: 0.85;
  margin-left: 4px;
  margin-right: 4px;
}

.signInOption:hover, .signInOption:active {
  display: flex;
  align-items: center;
  opacity: 1;
}

.profileOption {
  margin-top: -3px;
  opacity: 1!important;
}

.profileImgContainer {
  padding-top: 8px;
}

.profileLabel {
  display: flex; 
  flex-wrap: nowrap; 
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .nav-item,
  .nav-item-active {
    display: none;
  }
  .nav-item.sign-in-option,
  .nav-item.profile-option {
    display: flex;
  }
}